<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="common-header">
    <template>
        <style>
            :host{
                width: 100%;
                height: 100px;
                display:flex;
                display: -webkit-flex;
                flex-direction: column;
                -ms-flex-direction: row;
                background-color: #ffffff;
                box-shadow: 0px 1px 20px 3px #b1b1b1;
            }
            .h-container {
                width: 100%;
                height: 100px;
                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -ms-flex-direction: row;
                background-color: #ffffff;
            }
            .logo-wrapper {
                display: flex;
                display: -webkit-flex;
                margin-left: 8.33%;
                width: 16.66%;
                align-items: center;
            }
            .logo-wrapper img {
                flex-shrink: 1;
            }
            .menu-wrapper {
                display: flex;
                display: -webkit-flex;
                width: 49.98%;
                /* align-items: center; */
                /* justify-content: center; */
            }
            .menu-wrapper span {
                flex: 1 1;
                display: flex;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
            }
        </style>

        <div class="h-container">
            
            <div class="logo-wrapper">
                <img src="src/images/ing-logo-sm-88x270-mobile.png" alt="Logo-ING" height="60px" />
            </div>

            <div class="menu-wrapper">
                <span><a href="http://localhost:8081/payments">Payments</a></span>
                <span><a href="http://localhost:8081/transactions">Transactions</a></span>
                <span><a href="http://localhost:8081/analyser">Analser</a></span>
            </div>

        </div>
    </template>

    <script>
        class CommonHeader extends Polymer.Element {
            static get is(){
                return "common-header";
            }

            static get properties(){
                return {
                    
                }
            }

            constructor() {
                super();
            }
            
        }
        customElements.define(CommonHeader.is,CommonHeader);
    </script>
</dom-module>