<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="common-styles.html">

<dom-module id="copyright-component">
    <template>
        <style include="common-styles">           
            .copyright{                
                text-align:center;               
            }            
        </style>
        <div class="copyright fnt14 fntFamily">
            <p>Dummy products,color schemes and logo for illustrative/learning purpose only</p>
        </div>
    </template>
    <script>
        class copyrightComponent extends Polymer.Element{
            static get is(){ return 'copyright-component'}
            static get properties(){
                
            }

            ready(){
                super.ready();
                Polymer.RenderStatus.afterNextRender(this,function(){
                    
                })
            }
        };
        window.customElements.define(copyrightComponent.is,copyrightComponent);
    </script>
</dom-module>