<!-- 
** LOGIN COMPONENT
* Component will contain login form 
* Takes user input and generate ajax call to authenticate
* After sucessful authentication will call function on parent.
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/gestures.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="common-styles.html">

<dom-module id="login-form">
  <template>
    <style include="common-styles">
         .btnPrl{
            width: 50%;
         }        
        
        a {
            text-decoration: none; 
            color:rgb(42, 94, 192);
        }
        a:hover {
            color:rgb(23, 66, 146);
        }
       
    </style>
    <div class="container fntFamily boxShadow">
        <h2 class="heading">Login</h2>
        <hr>
        <iron-form id="myForm"> 
        <form>
            <div>
                <h4 class="label">Enter user id</h4>
                <paper-input type="text" label="User id" id="username" no-label-float value="{{username}}" on-change="_removeInvalid" required></paper-input>
            </div>
            <div>
                <h4 class="label">Enter Password</h4>
                <paper-input type="password" label="Enter Password" id="password" no-label-float value="{{password}}" on-change="_removeInvalid" required></paper-input>
            </div>
            <!--<div style="margin-top: 0.6rem;"><a href="#">Forgot password?</a></div>-->
            <iron-request id="xhr"></iron-request>

            <paper-button class="btnPrl" on-click="login" disabled="[[loginBtnDisabled]]">
                    LOGIN
                </paper-button>        
         
        </form>
     </iron-form>
    </div>
    <app-location route="{{route}}"></app-location>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginForm extends Polymer.Element {
      static get is() { return 'login-form'; }
      static get properties() {
        return {
            loginSuccess : {
                type: Object,
            },
            username: {
                type    : String,
                value   : ""
            },
            password: {
                type    : String,
                value   : ""
            },
            loginBtnDisabled : {
                type    : Boolean,
                value   : true,
                computed: '_toggleLoginBtn(username,password)'
            },
            userDetails: {
                type: Object,
                value: {}
            },
            ajaxResponse: {
            type: String,
            value: []
            }
        };
      }

      constructor(){
          super();
        //   window.setTimeout(()=> console.log(this.loginSuccess),5000);
        // window.setInterval(()=>{
        //     // console.log(`From LF, isLoggedIn: ${this.isLoggedIn}`);
        //     // console.log(this.context);
        //     },5000);

      }

      login() {
          this.userDetails = {
              loginId: this.username,
              password: this.password
          }
        let that = this;
        let bodyData = JSON.stringify(that.userDetails);
        var post_req = this.$.xhr;
        
        // post_req.send({url: "src/data/login-success.json"});
        //post_req._encodeBodyObject(bodyData, "application/json");
        post_req.send({url: "http://192.168.43.120:8080/user/login", method: "post", headers: {
        'content-type': 'application/json'
      }, body: bodyData});
        post_req.completes.then((argReceived) => {
            let response    = JSON.parse(argReceived.response);
            let status      = response.status;
            if(status){
                this.loginSuccess(response.data[0])
            }
            else{
                //TODO: display proper message somewhere
                this.$.username.invalid = true;
                this.$.password.invalid = true;
                this.password = "";
            }
        }, function(){
            //TODO: display proper page, unable to hit server properly 500
        });
      }

      _toggleLoginBtn(loginId, password){
          // FUNCTION: This function will validate loginId and password should
          // have some value before they hit api 
        //   if((loginId.length > 4) && (password.length > 8)) return false;
        //   else return true;
      }

      _removeInvalid(){
        // FUNCTION: This function will take care, if we have inputs in invalid state
        // We need to remove that state when user changes the value
        this.$.username.invalid = false;
        this.$.password.invalid = false;
      }
    }

    window.customElements.define(LoginForm.is, LoginForm);
  </script>
</dom-module>
