<!-- 
** PAYMENT COMPONENT
* This will be a component to make payment through debit or credit type.
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<script src="../../bower_components/web-animations-js/web-animations.min.js"></script>
<link rel="import" href="common-styles.html">
<dom-module id="make-payment">
    <template>
        <style include="common-styles">
                paper-dropdown-menu{
                    width:100%;  
                }                          
               
        
        </style>
        <div class="container fntFamily boxShadow">
            <h2 class="heading">Make Payment</h2>
            <hr>

            <!-- localstorage compoment to store the transaction details -->
            <iron-localstorage name="transactionDetails" value="{{transactionDetails}}" on-iron-localstorage-load-empty="initializeStorage"></iron-localstorage>

            <!-- Ajax component to make a post request to payment API -->
            <iron-ajax id="transaction" method="post" content-type="application/json" handle-as="json" on-response="_handleResponse" loading="{{loading}}"></iron-ajax>
            <paper-spinner-lite active="[[loading]]"></paper-spinner-lite>
            
            <iron-form id="myForm">
                <form>
                    <!-- Dropdown component  -->
                    <div>
                        <h4 class="label">Select transaction type</h4>
                        <paper-dropdown-menu id="type" no-label-float>
                            <paper-listbox slot="dropdown-content" attr-for-selected="value" class="dropdown-content" selected="{{selectedType}}">
                                <template is="dom-repeat" items="[[transactionType]]">
                                    <paper-item value$="[[item.type]]">[[item.type]]</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                    </div>

                    <div>
                        <h4 class="label">Enter amount</h4>
                        <paper-input on-keyup="_clearError" no-label-float id="amount" type="number" error-message="{{amountError}}" value="{{amount}}">
                        <div slot="prefix">$ &nbsp</div>
                        </paper-input>
                    </div>

                    <div>
                        <h4 class="label">Enter description</h4>
                        <paper-input id="description" no-label-float error-message="{{amountError}}" value="{{description}}">
                        <div></div>
                        </paper-input>
                    </div>

                    <app-location route="{{route}}"></app-location>
                    <paper-button disabled="[[isInputEmpty(amount)]]" class="btnPrl" on-click="_makeTransaction">
                        Make Payment
                    </paper-button>
                    <paper-spinner-lite active="[[loading]]"></paper-spinner-lite>
                </form>
        </iron-form>
        </div>
    </template>
    <script>
    class makePayment extends Polymer.Element {
        static get is() { return 'make-payment' }
        static get properties() {
            return {
                transactionType: {
                    type: Array,
                    value: [{
                        type: 'Debit',
                        value: 0
                    }, {
                        type: 'Credit',
                        value: 1,
                    }]
                },
                loading: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                description: {
                    type: String,
                    value: ''
                },
                selectedType: {
                    type: String,
                    value: 'Debit' //Set debit as default
                },
                transactionDetails: {
                    type: Array,
                    value: () => { return [] }
                }
            }
        }


        //Initialize localstorage
        initializeStorage() {
            this.transactionDetails = [];
        }

        _clearError() {
            this.$.amount.invalid = false; //remove error message
        }

        _makeTransaction() {
            this.transactionDetails = [];
         this.set("route.path", "/status")
            var amount = this.amount
            var paymentType = this.selectedType
            var description = this.description
            var ajax = this.$.transaction;
            ajax.url = 'http://192.168.43.120:8080/user/1000/makepayment';
            ajax.body = JSON.stringify({
                "customerId": "1000",
                "amount": amount,
                "paymentType": paymentType,
                "description": description
            });
            ajax.generateRequest(); // triggers the iron-ajax
        }

        isInputEmpty(amount) {
            if (amount<= 0) return true;
            return false;
        }

        _handleResponse(response) {
            var data = response.detail.__data.response.data;
            //spot data
            if (data.status) {
                this.transactionDetails.push(data.data)
                //Take care of routing
                 this.set("route.path", "/status");
                  window.location.hash="no-back-button";
           window.location.hash="Again-No-back-button";
           window.onhashchange=function(){window.location.hash="no-back-button";}
                
            } else {
                //Set error message
                this.amountError = data.errorMessage
                this.$.amount.invalid = true; //show message error

            }
        }
    }
    window.customElements.define(makePayment.is, makePayment);
    </script>
</dom-module>