<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="common-styles.html">
<link rel="import" href="bar-chart-component.html">
<link rel="import" href="no-data-found.html">

<dom-module id="payment-analyser">
    <template>
        <style include="common-styles">                  
            .amcharts-chart-div a{
                display: none !important;
            }          
        </style>
        <style include="shared-styles">
         vaadin-grid#analyser_grid{
            border: 1px solid #000;
            -webkit-font-smoothing: antialiased;
             --divider-color: #0e0d0d;
        }
            --vaadin-grid-cell  {
                border: 1px solid #000;
                box-sizing: border-box;
            }
            --vaadin-grid-header-cell {
                border-bottom: 1px solid #080808;
            }
            vaadin-grid#border {
                border-bottom: 1px solid #080808;
            }
        </style>
        <iron-ajax id="analyser" handle-as="json" last-response="{{activities.data}}" on-response="_handleResponse"></iron-ajax>
        <div class="container fntFamily">
            <h2 class="centerText"> Account Activity Analysis </h2>

            <!-- <template is="dom-if" if="{{dataAvailable}}">
                <no-data-found></no-data-found>
            </template> -->
            <!-- <template is="dom-if" if="{{dataAvailable}}"> -->
                <vaadin-grid id="analyser_grid" theme="row-dividers" items="[[transactions]]" page-size="10" height-by-rows>
                    <vaadin-grid-column items="[[transactions]]" id="border">
                        <template class="header"><strong>#</strong></template>
                        <template>
                            <div class="vaadinCol">[[displayIndex(index)]]</div>
                        </template>
                    </vaadin-grid-column>
                    <vaadin-grid-column>
                        <template class="header"><strong>Month</strong></template>
                        <template>[[item.month]]</template>
                    </vaadin-grid-column>
    
                    <vaadin-grid-column>
                        <template class="header"><strong>Total Transaction</strong></template>
                        <template>[[addCurrency(item.totalOutgoing,item.totalIncoming)]]</template>
                    </vaadin-grid-column>
            
                    <vaadin-grid-column>
                        <template class="header"><strong>Debit</strong></template>
                        <template>[[addCurrency(item.totalOutgoing)]]</template>
                    </vaadin-grid-column>
            
                    <vaadin-grid-column>
                        <template class="header"><strong>Credit</strong></template>
                        <template class="border">[[addCurrency(item.totalIncoming)]]</template>
                    </vaadin-grid-column>            
                </vaadin-grid>                   
            <!-- </template> -->
  

            <h2 class="centerText">Spend Analyser</h2>
            <barchart-component transactions=[[transactions]]></barchart-component>
        </div>
    </template>
    <script>
        class paymentAnalyser extends Polymer.Element{
            static get is(){ return 'payment-analyser'}
            static get properties(){
                return  {
                   spendChart : {},
                   dataAvailable: {
                       type: Boolean
                   },
                   transactions: {
                       type:Array
                   },
                   testdata: {
                       type:Array
                   },
                   amount :{
                       type: Number
                   },
                   custId : {
                       type:String
                   }
                }
            }
            
            ready(){
                super.ready();
                Polymer.RenderStatus.afterNextRender(this,function(){
                    this._getTransactionData();                    
                })

                try{
                    this.custId = JSON.parse(sessionStorage.user).customerId;
                }
                catch(e){
                    console.log('Error getting data from SessionStorage -->' + e)
                }
            }
            
            //Increment by 1 to index in dom-repeat
            displayIndex(index){
                return index + 1;
            }            
            
            // _checkAvailability(transactions){
            //     return transactions.length ? true : false;
            // }

            // Add currency
            addCurrency(am1, am2){
                this.amount = am1;
                if(arguments.length == 2){
                    this.amount = am1+ am2;
                }
                return '$' + this.amount.toFixed(2);
            }

            //Get transaction data ffrom API
            _getTransactionData(){
                let ajax = this.$.analyser;
                //ajax.url = "src/data/analyser.json";
                ajax.url = "http://192.168.43.18:8080/user/"+this.custId+"/transactionsummary";
                ajax.generateRequest(); //trigger the iron-ajax                
            }

            //Store the response 
            _handleResponse(event,request){
                this.testdata = request.response.data;
                this.testdata.forEach(function(el) {
                    el.Ccolor = "#ff6600";
                    el.Dcolor = "#42417a";
                })
                this.transactions = this.testdata;
                let dataAvailable = this.testdata.length ? true : false;
                console.log(dataAvailable);
                this.set('dataAvailable', dataAvailable)
            }           
        };
        window.customElements.define(paymentAnalyser.is,paymentAnalyser);
    </script>
</dom-module>