<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="common-styles.html">
<link rel="import" href="bar-chart-component.html">
<link rel="import" href="pie-chart-component.html">
<link rel="import" href="no-data-found.html">
<link rel="import" href="sub-header.html">
<link rel="import" href="analyse-filters.html">
<link rel="import" href="table-component.html">
<link rel="import" href="multi-select-dropdown.html">


<dom-module id="payment-analyser">
    <template>
        <style include="common-styles">                  
                                  
        </style>
        <style include="shared-styles">
        </style>
       <sub-header></sub-header>

       <div class="container fntFamily">
            <template is="dom-if" if="{{makeFilters}}">
            <!-- <analyse-filters period-list={{periodList}} make-filters="{{makeFilters}}"></analyse-filters>  -->
                  <analyse-filters api={{api}} make-filters="{{makeFilters}}" current-month-data="{{currentMonthData}}"></analyse-filters>

                  <multi-select-dropdown></multi-select-dropdown>
                  <!--Table component-->

                  <table-component tabledata="[[currentMonthData.transactions]]"></table-component>


                  <!--Tab component-->
                    <div class="tabContainer">
                        <paper-tabs selected="{{selectedTab}}" scrollable>
                            <paper-tab>Pie chart</paper-tab>
                            <paper-tab>Bar graph</paper-tab>
                        </paper-tabs>
                        <iron-pages selected="{{selectedTab}}">
                        <piechart-component transactions=[[currentMonthData.totalCreditDebit]]></piechart-component>
                        <!--<div><template is="dom-if" if="{{dataAvailable}}"> -->
                            <barchart-component transactions=[[currentMonthData.totalCreditDebit]]></barchart-component> 
                        <!--</template></div>-->
                        </iron-pages>
                  </div>
                   
            </template>       
        </div>      
    
    </template>
    <script>
        class paymentAnalyser extends Polymer.Element{
            static get is(){ return 'payment-analyser'}
            static get properties(){
                return  {
                    api : {
                        type    : Object
                    },  
                    activated: {
                        type: Boolean,
                        observer: '_activationChanged'
                    },
                    makeFilters:{
                        type: Array,
                        value:"",
                        notify:true,
                        reflectToAttribute: true                        
                    },
                    currentMonthData:{
                        type: Array,
                        value:'',
                        observer: '_currentMonthDataChanged'
                    },
                    selectedTab:{ 
                        type : String,
                        value : '0'
                    }
                }
            }

            _activationChanged(newVal, oldVal){
                if(newVal){
                   
                }
                this.makeFilters= ['a'];               
	        }   
            _currentMonthDataChanged(){
                console.log(this.currentMonthData);
                console.log('chart',this.currentMonthData.totalCreditDebit);
            }      
        };
        window.customElements.define(paymentAnalyser.is, paymentAnalyser);
    </script>
</dom-module>