<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="common-styles.html">

<dom-module id="payment-history">
    <template>
        <style include="common-styles">
          vaadin-grid-sorter{
            font-weight:bold;
          }      
           
        </style>
        <style include="shared-styles">
         
        </style>

        <!-- <iron-ajax auto url="src/data/history.json" handle-as="json" last-response="{{users}}" on-response="handleResponse"></iron-ajax>  -->
        <iron-ajax auto method="GET" url="http://192.168.43.18:8080/user/"+{{custId}}+"/transactions" handle-as="json" last-response="{{users}}" on-response="handleResponse"></iron-ajax>

        <sub-header></sub-header>
        <div class="container fntFamily">
            <h2 class="centerText"> Most Recent Transaction </h2>
        <vaadin-grid id="grid" class="gridBorder" theme="row-dividers" items="[[users.data]]" page-size="10" height-by-rows column-reordering-allowed multi-sort>
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="transactionDetails">Transaction Id</vaadin-grid-sorter>
                </template>
                <template>[[item.transactionId]]</template>
            </vaadin-grid-column>
            
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="transactionDescription">Transaction Description</vaadin-grid-sorter>
                </template>
                <template>[[item.description]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="transactionType">Transaction Type</vaadin-grid-sorter>
                </template>
                <template>[[item.paymentType]]</template>
            </vaadin-grid-column>
    
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="transactionDate">Transaction Date</vaadin-grid-sorter>
                </template>
                <template>[[item.transactionDate]]</template>
            </vaadin-grid-column>
    
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="amount">Amount</vaadin-grid-sorter>
                </template>
                <template>[[addCurrency(item.transactionAmount)]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="balance">Balance</vaadin-grid-sorter>
                </template>
                <template>[[addCurrency(item.closingBalance)]]</template>
            </vaadin-grid-column>
        </vaadin-grid>
       <!-- <div id="pages">
            <button on-click="_prev">&lt;</button>
            <template is="dom-repeat" items="[[pages]]">
            <button on-click="_select" selected$="[[_isSelected(page, item)]]">[[item]]</button>
            </template>
            <button on-click="_next">&gt;</button>
        </div> -->
      </div>
    </template>

  <script>
    class paymentHistory extends Polymer.Element {
      static get is() { return 'payment-history'; }
      static get properties () {
        return {
          items: {
            type: Array
          },
          pages: {
            type: Array
          },
          page: {
            type: Number
          },
		  custId:{
            type:String
           }
        };
      }

      // Add currency
      addCurrency(amount){
        return '$' + amount;
      }

      handleResponse(event,request){
        this.items = request.response.data;
      }

      ready(){
            super.ready();
            this.page = 0;
			try{
				this.custId = JSON.parse(sessionStorage.user).customerId;
			}
			catch(e){
				console.log('Error getting data from SessionStorage -->' + e)
			}
      }

	    static get observers() {
          return [
            '_itemsChanged(items, page)'
          ]
        }

      _isSelected(page, item) {
        return page === item - 1;
      }

      _select(e) {
        this.page = e.model.item - 1;
      }

      _next() {
        this.page = Math.min(this.pages.length - 1, this.page + 1);
      }

      _prev() {
        this.page = Math.max(0, this.page - 1);
      }

      _itemsChanged(items, page) {
        if (items === undefined || page === undefined) {
          return;
        }

        if (!this.pages) {
          this.pages = Array.apply(null, {length: Math.ceil(items.length / this.$.grid.pageSize)}).map(function(item, index) {
            return index + 1;
          });
        }

        var start = page * this.$.grid.pageSize;
        var end = (page + 1) * this.$.grid.pageSize;
        this.$.grid.items = items.slice(start, end);
      }    
    }
    window.customElements.define(paymentHistory.is, paymentHistory);
  </script>
</dom-module>
