<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../bower_components/google-chart/google-chart-loader.html">
<link rel="import" href="../../bower_components/google-chart/google-chart-styles.html">


<script src="../../bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script src="../../bower_components/amcharts/dist/amcharts/themes/light.js"></script>
<script src="../../bower_components/amcharts/dist/amcharts/serial.js"></script>
<script src="../../bower_components/amcharts/dist/amcharts/pie.js"></script>

<dom-module id="piechart-component">
    <template>
        <style> 
            div#chartContainer {
                margin-left: 350px;
                right: 0;
                left: 0;
                position: relative;
            }
            h2{
                text-align: center;
                margin-top:25px;
            }

             #chartdiv {
                width: 60%;
                height: 500px;
                margin:0 auto;
                background-color: white;
                -webkit-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
                -moz-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
                box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
            }
            .amcharts-chart-div a{
                display: none !important;
            }     
        </style> 
        <h2>Chart View for Spend Analyser</h2>
        <div id="chartdiv"></div>  
        <h2>Google Chart based on month </h2>                         
        <div id='chartContainer'>  
        <span id="piechartDebit">
            <google-chart
            id="debitchart"
            type="pie"
            options='{"title": "Distribution of Debit"}'
            selection='[{"row": 1}]'>
            </google-chart>
        </span>  

        <span id="piechartCredit">
            <google-chart
            id="creditchart"
            type="pie"
            options='{"title": "Distribution of Credit"}'
            selection='[{"row": 1}]'>
            </google-chart>
        </span>  
        </div>                     
    </template>
    <script>
        class piechartComponent extends Polymer.Element{
            static get is(){ return 'piechart-component'}
            static get properties(){
                return  {
                   transactions: {
                       type:Array,
                       observer:'_configureChart'
                   }
                }
            }
            
            _configureChart(){                 

                let chart = this.$.chartdiv;    
                var debitVal = 0,
                    creditVal = 0;

                this.transactions.forEach(function(el) { 
                    creditVal += parseInt(el.totalIncoming);
                    debitVal += parseInt(el.totalOutgoing);
                })

                this.spendChart = AmCharts.makeChart(chart, {
                    "type": "pie",
					  "theme": "light",
					  "dataProvider": [ {
						"type": "Debit",
						"amount": debitVal
					  }, {
						"type": "Credit",
						"amount": creditVal
					  } ],
					  "valueField": "amount",
					  "titleField": "type",
					   "balloon":{
					   "fixedPosition":true
					  }
					} );   

                var debitArr = [];
                var creditArr = [];
                debitArr.push(["Label", "Value"]);
                creditArr.push(["Label", "Value"]);
                this.transactions.forEach(function(el) {
                    creditArr.push([el.month,parseInt(el.totalIncoming)])
                });
                this.transactions.forEach(function(el) {
                    debitArr.push([el.month,parseInt(el.totalOutgoing)])
                });
                let creditChart = this.$.creditchart;   
                let debitChart = this.$.debitchart;    
                document.createElement('google-chart-loader').dataTable(debitArr).then(function(dataTable) {
                    debitChart.data = dataTable;
                });  
                document.createElement('google-chart-loader').dataTable(creditArr).then(function(dataTable) {
                    creditChart.data = dataTable;
                });
            }
            
 
        };
        window.customElements.define(piechartComponent.is,piechartComponent);
    </script>
</dom-module>