<!-- 
** SPEND-ANALYSER:

* This component will is root and host of application
* Routing is included here

** NOTE: developers please run on port 9011
** so that environment can be set up properly
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/import-href.html">

<!-- IMPORT DEPENDENCIES -->
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/page-title/page-title.html">

<!-- IMPORT COMPONENTS -->
<!-- LAZY LOAD SOME COMPONENTS -->
<link rel="lazy-import" href="./make-payment.html">
<link rel="lazy-import" href="./payment-status.html">
<link rel="lazy-import" href="./payment-history.html">
<link rel="lazy-import" href="./payment-analyser.html">
<link rel="lazy-import" href="./login-form.html">

<link rel="import" href="./common-header.html">
<link rel="import" href="./footer.html">
<link rel="import" href="./copyright.html">
<link rel="import" href="./view-404.html">
<link rel="import" href="./bar-chart-component.html">

<!-- IMPORT CONFIGURATIONS (COMPONENTS) -->
<link rel="import" href="../configuration/translate.html">
<link rel="import" href="../configuration/api-config.html">


<dom-module id="spend-analyser">
  <template>
    <style>
      :host {
        display: block;
      }

      .main-container {
        max-height: 100vh;
        overflow-y: hidden;
      }

      .scrollable-container {
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
      }

      .translate {
        display: hidden
      }
    </style>

    <!-- SET PAGE TITLE AS PER THE PAGE -->
    <page-title base-title="Spend Analyzer" page-title="[[page]]">
    </page-title>

    <!-- FOR ROUTING PURPOSE (APP-ROUTE) -->
    <app-location route="{{route}}">
    </app-location>

    <app-route 
    route="{{route}}" 
    pattern="/:page" 
    data="{{routeData}}" 
    tail="{{subroute}}">
    </app-route>

    <api-config 
    root-path="[[rootPath]]" 
    api-collection="{{apiCollection}}" 
    user="[[user]]">
    </api-config>

    <!-- FOR LOCALISATION PURPOSE -->
    <spend-analyser-translate 
    class="translate" 
    language="{{language}}" 
    resources="{{resources}}">
    </spend-analyser-translate>

    <!-- APP-STRUCTURE (VISIBLE COMPONENTS) -->
    <div class="main-container">

      <!-- 1. HEADER-COMPONENT-STATIC -->
      <div>
        <common-header 
        is-logged-in="{{isLoggedIn}}" 
        menu="[[myMenu]]" 
        root-path="[[rootPath]]" 
        selected="[[page]]" 
        logout="[[_logout]]"
        page-values="[[pageValues.commonHeader]]">
        </common-header>
      </div>

      <!-- 2. REST-BOBY-SCROLLABLE -->
      <div class="scrollable-container" on-scroll="scrolled">
        
        <template is="dom-if" if="{{resources}}">

          <!-- 2.1. PAGES/COMPONENTS BASED ON ROUTE     -->
          <iron-pages 
          selected="[[page]]" 
          attr-for-selected="name" 
          selected-attribute="activated" 
          selected-item="{{selectedPage}}"
          fallback-selection="view404" 
          role="main">
            
          <login-form 
            title='Login' 
            name="login" 
            page-values="[[pageValues.loginPage]]" 
            login-success="[[_loginSuccess]]"
            api={{apiCollection.login}}></login-form>
            
            <make-payment 
            title='Make Payment' 
            name="payments" 
            category-api="{{apiCollection.categorieslist}}" 
            payment-api="{{apiCollection.payment}}"
            page-values=[[pageValues.makePayment]]></make-payment>
            
            <payment-status 
            title='Payment Status' 
            name="status" 
            page-values="[[pageValues.paymentStatus]]"></payment-status>
            
            <payment-history 
            user="[[user]]" 
            title='Transactions' 
            name="transactions" 
            api={{apiCollection.transactions}}></payment-history>
            
            <payment-analyser 
            title='Spend Analyzer' 
            name="analyser" 
            api={{apiCollection}} 
            is-scrolled="{{isScrolled}}"
            page-values=[[pageValues.spendAnalyser]]></payment-analyser>
            
            <view-404 
            title='Not Found 404' 
            name="view404"></view-404>

          </iron-pages>
        </template>
        
        <!-- 2.2. FOOTERS -->
        <footer-component></footer-component>
        <copyright-component></copyright-component>
      </div>
    </div>
  </template>

  <script>
    class SpendAnalyser extends Polymer.Element {
      constructor() {
        super();
        // setInterval(()=>console.log(this.pageValues),2000);
      }

      static get is() { return 'spend-analyser'; }

      static get properties() {
        return {
          isLoggedIn: {
            type: Boolean,
            value: false,
          },
          user: {
            type: Object,
          },
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          apiCollection: Object,
          routeData: Object,
          subroute: Object,
          route: Object,
          rootPath: String,
          myMenu: {
            type: Array,
            value: [
              {
                "display": "Dashboard",
                "name": "dashboard",
                "slug": "dashboard"
              },
              {
                "display": "Payments",
                "name": "payments",
                "slug": "payments"
              },
              // {
              //   "display": "Transactions",
              //   "name": "transactions",
              //   "slug": "transactions"
              // },
              {
                "display": "Spend Analyser",
                "name": "analyser",
                "slug": "analyser"
              },
              {
                "display": "Support",
                "name": "support",
                "slug": "support"
              },
              {
                "display": "About Us",
                "name": "about",
                "slug": "about"
              }
            ]
          },
          isScrolled: {
            type: Array,
            notify: true
          },
          language: {
            type: String
          },
          resources: {
            type: Object,
            observer: '_contentFetched'
          },
          pageValues: {
            type: Object
          }
        }
      }

      _contentFetched() {
        this.pageValues = this.resources[this.language];
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
          '_routeChanged(route.path)'
        ];
      }
      _pageChanged(page) {
        // FUNCTION: Enable lazy loading for performance
        // based on page attribute we will tell which file to load, NOTE: not working on
        // routeChanged
        const pathMap = {
          "login"       : "login-form.html",
          "payments"    : "make-payment.html",
          "status"      : "payment-status.html",
          "transactions": "payment-history.html",
          "analyser"    : "payment-analyser.html"
        };

        const fileName = pathMap[page] ? pathMap[page] : "view-404.html";

        const resolvedPageUrl = this.resolveUrl(fileName);

        Polymer.importHref(
          resolvedPageUrl,
          null,
          null,
          true);
      }
      _routeChanged(path) {

        let user = JSON.parse(sessionStorage.getItem('user'));
        this.set('user', user);

        let isLoggedIn = user ? true : false;
        this.set('isLoggedIn', isLoggedIn);

        if (!this.isLoggedIn) {
          this.set('route.path', '/login');
        }
      }

      scrolled() {
        let scroll = 0;
        this.isScrolled = [scroll++];
      }

      _routePageChanged(page) {
        this.page = page || 'login';
      }

      _loginSuccess(user) {
        // FUNCTION: After authentication at login-form control will be redirected
        // so in case of successful login action can be taken here   
        sessionStorage.setItem('user', JSON.stringify(user));
        this.set('route.path', '/payments');
      }

      _logout() {
        this.set('route.path', '/login');
        sessionStorage.removeItem('user');
        this.isLoggedIn = false;
      }

      _fileNameFinder(path) {
        let pathMap = {
          "login": "login-form.html",
          "payments": "make-payment.html",
          "status": "payment-status.html",
          "transactions": "payment-history.html",
          "analyser": "payment-analyser.html"
        };

        let fileName = pathMap.path ? pathMap.path : "view-404.html";
        return fileName;
      }
    }

    window.customElements.define(SpendAnalyser.is, SpendAnalyser);
  </script>
</dom-module>